@page
@model Presentation.Pages.Programma.ProgrammaModel

@{
    ViewData["Title"] = "Programma";
    Layout = "_Layout";
}

<main>
    <div>
        <h1 class="text-3xl font-bold text-black-700 mb-6">Programma</h1>
        
        @if (Model.Programma != null)
        {
            <div class="mb-4">
                <h2 class="text-2xl font-bold text-black-700 mb-4">Programma details</h2>
                <p>@Model.Programma</p>
            </div>
        }
        else
        {
            <p class="text-red-500">Geen programma beschikbaar.</p>
        }
    </div>
</main>